/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0rem;
	left: 0;
	background: url(../images/dubai-night-wallpaper-free-As-Wallpaper-HD-min.png) repeat-x 50% 50% ;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/back-menu-x.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
.overlay .overlay-home {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 100px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/home-new.svg) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 45%;
	height: 70%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 10%;
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

.overlay ul li a {
	font-size: 25px;
	font-weight: 300;
	display: block;
	color: #fff;
	 text-align: left;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color:  #fdd782;
}

/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
@media (max-width: 380px) {
	.overlay ul li a {
		font-size: 18px;
	}
	.overlay ul li {
		min-height: 45px;
	}

}