.banner-photo-background {
    background: url(../images/photo-banner.png) no-repeat;
    background-size: cover;
    height: 28rem;

}

.banner-event-background {
    background: url(../images/49210873_xxl.png) 50% 50%;
    background-size: cover;
    height: 36rem;
}

.banner-partners-background {
    background: url(../images/shutterstock_562137367.png) 50% 50% no-repeat;
    background-size: cover;
    height: 33rem;
}

.front-page-background {
    background: url(https://ctb76.ru/wp-content/themes/ctb/img/banner-give.png) no-repeat 20% 80%;
    background-size: cover;
    height: 47rem;
}

.banner-transfer-background {
    background: url(../images/driver_image.png) no-repeat 75% 25%;
    height: 36rem;
    background-size: cover;
}

.front-page-background-md {
    background: url(https://ctb76.ru/wp-content/themes/ctb/img/back-min.png) no-repeat 50% 50%;
    background-size: cover;
    height: 47rem;
}

.banner-hot-background {
    background: url(../images/AdobeStock_91257641.png) no-repeat 75% 25%;
    background-size: cover;
    height: 36rem;
}

.banner-comments-background {
    background: url(../images/response.png) 70% 50% no-repeat;
    background-size: cover;
    height: 34rem;
}

.banner-paralax {
    height: 765px;
    position: relative;
}

.h-765 {
    height: 765px;
}

@media (max-width: 766px) {
    .banner-paralax {
        background: url(../images/bannerV2.png) no-repeat 18% 82%;
        background-size: cover;
        color: white;
        margin-top: 0;
    }
}

.banner-bonus-background {
    background: url(../images/shutterstock_327692747.png) 60% 40% no-repeat;
    background-size: cover;
    height: 32rem;
}

.banner-service-background {
    background: url(../images/rawpixel-com-191102-unsplash.png) 60% 40% no-repeat;
    background-size: cover;
    height: 39rem;
}

.banner-bonus-two-background {
    background: url(../images/AdobeStock_169378411.png) 60% 40% no-repeat;
    background-size: cover;
}

.banner-our-blog-background {
    background: url(../images/2Nrc7YozFv0-2.jpg) no-repeat;
    background-size: cover;
}


@media (max-width: 575px) {
    .banner-bonus-two-background {
        background: url(../images/lvl-2.png);
    }
}

.header-background {
    background-image: url(../images/bannerV2.png);
    background-size: cover;
    border-bottom: 0.2rem solid #808c6b;
}

.header-background-transparent {
    background: transparent;
    border-bottom: 0.2rem solid #808c6b;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.footer-background {
    background: url(../images/footer.png) no-repeat 50% 67%;
    background-size: cover;
}

.footer-page-background {
    background: url(../images/weg.png) repeat-y;
    background-size: cover;
}

.black-background-block {
    background: url(../images/lvl-2.png) no-repeat;
    background-size: cover;
}

.event-text-block {
    background: white;
    background-size: cover;
    border: 2rem solid white;
}

.title-thumbnail-box {
    border-top: 0.3rem solid #fdd282;
    background: rgba(0, 0, 0, 0.6);
    height: 5.5rem;
}

.font-size-1_5 {
    font-size: 1.5rem;
}

.font-size-1_9 {
    font-size: 1.9rem;
}

.font-size-2_9 {
    font-size: 2.9rem;
}

.font-size-5 {
    font-size: 5rem;
}

.font-size-4_7 {
    font-size: 4.7rem;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-18 {
    font-size: 18px;
}

.container-imposing {
    bottom: 3rem;
}

.banner-about-background {
    background: url(../images/shutterstock_567693589.png) 60% 40% no-repeat;
    background-size: cover;
}

.banner-earlier-background {
    background: url(../images/sugar-loaf-pao-de-acucar-1679277.png) no-repeat;
    background-size: cover;
}

.footer-about-background {
    background: url(../images/rawpixel-com-191102-unsplas2.png) 60% 40% no-repeat;
    background-size: cover;
}

.earlier-booking-background-block-grey {
    background: #f7f7f7;
}

.title-banner-block, .banner-about-background {
    height: 34rem;
}

.about-two-block {
    background: url(../images/plouzane-1758197.png) 60% 40% no-repeat;
    background-size: cover;
    height: 36rem;
}

@media (max-width: 991px) {
    .about-two-block {
        background: url(../images/lvl-2.png) repeat-y;
        background-size: cover;
        height: 112rem;
    }
}

.text-gold {
    color: #fdd782;
}

.text-grey {
    color: #333333;
}

.text-grapes {
    color: #5f2e4b;
}

.text-grey-light {
    color: #666;
}

.text-brown {
    color: #3d312b;
}

.text-align-center {
    text-align: center;
}

.separator {
    border-bottom: 5px solid #fdd782;
}

.h-47r {
    height: 47rem;
}

.w-auto {
  width: auto;
}

.event-date-background {
    border: 0.5rem solid #f44336;
    background: #f44336;
}

.button-red-style {
    background: #f44336;
}

.button-empty-style {
    background: transparent;
    border: 2px solid #f44336;
}

.button-empty-style:hover {
    background-color: #f44336;
}

.button-empty-style:active {
    background-color: #c8392e;
}

.button-red-style:hover {
    background-color: #f96257;
}

.button-red-style:active {
    background-color: #c8392e;
}

.earlier-booking-background-block-grey ul li:before {
    content: "-";
    position: relative;
    left: -5px;
}

li {
    list-style-type: none
}

.block-hot-one {
    background: url(../images/shutterstock_283216475.png) 80% 20% no-repeat;
    background-size: cover;
}

.block-hot-two {
    background: url(../images/shutterstock_631669532.png) 80% 20% no-repeat;
    background-size: cover;
}

.hot-block-one-number-border {
    border: 1px solid #fdd282;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.text-white-no_impotant, .footer-menu-decorate, .footer-menu-decorate:hover {
    color: white;
}

.text-hover-gold:hover {
    color: #fdd782;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

.lk-box-img {
    width: 40px;
    height: 40px;
    background: url(../images/user.svg) no-repeat;
    background-size: cover;
}

.lk-box-img:hover {
    background: url(../images/user-hover-active.svg) no-repeat;
    background-size: cover;
}

@media (max-width: 1010px) {
    .hidden-1010 {
        display: none;
    }
}

.footer-big-tur-word {
    font-size: 52px;

}

.line-height-1 {
    line-height: 1.1;
}

.footer-menu-decorate:hover {
    border-bottom: 2px solid #fdd282;
}

.footer-menu-decorate:active {
    color: #fdd282;
}

.font-weight-very-bold {
    font-weight: 900;
}

#ServiceTabContent li::before {
    content: '✔';
    color: #fdd782;
    position: relative;
    left: -1rem;
    text-decoration: none;
}

.bottom-2_7 {
    bottom: 2.7rem;
}

#ServiceTab .nav-link.active, #ServiceTab .nav-tabs .nav-item.show .nav-link {
    border-color: transparent;
}

#ServiceTab .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#ServiceTab .nav-link.active {
    background: rgba(0, 0, 0, 0.6);
    padding: .6rem;
    border-bottom: 0.5rem solid #fdd282;
    color: white;
}

#ServiceTab {
    border-bottom: none;
}

#ServiceTab .nav-item.show .nav-link {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.6rem;
}

#ServiceTab .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

#ServiceTab .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.first-carousel .slick-prev, .first-carousel .slick-next {
    z-index: 5;
    width: 3%;
}

.first-carousel .slick-prev, .first-carousel .slick-prev:hover {
    top: 79%;
    left: 41%;
}

.first-carousel .slick-next, .first-carousel .slick-next:hover {
    top: 79%;
    left: 43.9%;
}

.first-carousel-small .slick-dots {
    bottom: 5%;
}

.first-carousel-small .slick-dots li.slick-active button:before {
    color: #fdd782;
    opacity: 1;
}

.first-carousel-small .slick-dots li button:before {
    color: white;
    opacity: 1;
}

@media (max-width: 1568px) {

    .d-custom-md-none {
        display: none;
    }

    .d-custom-md-visible {
        display: block;
    }
}

@media (min-width: 1568px) {
    .d-custom-md-none {
        display: block;
    }

    .d-custom-md-visible {
        display: none;
    }
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.thumbnail .caption {
    background-color: white;
    border-radius: 0 0 8px 8px;
    max-width: 350px;
    height: 115px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.second-carousel .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fdd282;
}

.second-carousel .slick-dots li button:before {
    color: white;
    opacity: 1;
}

.third-carousel .slick-prev, .third-carousel .slick-next {
    width: 35px;
    height: 35px;
}

.third-carousel .slick-prev {
    background: url(../images/arrow-left-2.svg) no-repeat;
    background-size: cover;
}

.third-carousel .slick-prev:hover {
    background: url(../images/arrow-left-hover.svg) no-repeat;
    background-size: cover;
}

.third-carousel .slick-prev:active {
    background: url(../images/arrow-left-focus.svg) no-repeat;
    background-size: cover;
}

.third-carousel .slick-next {
    background: url(../images/arrow.svg);
    background-size: cover;
}

.third-carousel .slick-next:hover {
    background: url(../images/arrow-right-hover.svg) no-repeat;
    background-size: cover;
}

.third-carousel .slick-next:active {
    background: url(../images/arrow-right-push.svg) no-repeat;
    background-size: cover;
}

.third-carousel .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fdd282;
}

.third-carousel .slick-dots li button:before {
    opacity: 1;
    color: black;
}

.parallax-port {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 775px;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
}

#trigger-overlay {
    cursor: pointer;
}

#top-1 {
    top: 1px;
}

.blog-title-color, .blog-title-color:hover,.blog-title-color:active, .blog-title-color:focus {
    color: #3d312b;
}


#transfer-banner-title ul li::before {
    content: '✔';
    color: #fdd782;
    position: relative;
    left: -1rem;
    text-decoration: none;
}